body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

/* GENERAL STYLES FOR */
/* APP, FONTS, HEADER + LIST TITLE, INPUT, BUTTON */

@font-face {
  font-family: 'fakt-normal';
  src: url('fonts/FaktSoftPro-Normal.woff') format('woff');
}

@font-face {
  font-family: 'fakt-blond';
  src: url('fonts/FaktSoftPro-Blond.woff') format('woff');
}

.App {
  width: 976px;
  min-height: 80vh;
  margin: 0 auto 62px;
  padding-bottom: 32px;
  background-color: #EFEFEF;
  text-align: left;
}

.App, .NewParticipant, .ParticipantTable,
header, input, table, tr, th, td {
    box-sizing: border-box;
}


/* FONT STYLES */

body, p, input {
  font-family: 'fakt-normal', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #505050;
}

button {
  font-family: 'fakt-normal', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}

p {
  line-height: 24px;
  margin: 0;
}

.participantTable thead tr {
  font-size: 14px;
  line-height: 16px;
}


/* HEADER + LIST TITLE  */

header {
  background-color: #A6ADB6;
  width: 975px;
  height: 96px;
  margin: 0 auto;
  padding: 0px;
  color: #FFFFFF;
}

.logo {
  width: 32px;
  height: 32px;
  margin: 32px 16px 32px 32px;
  float: left;
}

.title {
  color: #FFFFFF;
  margin: 33px 0 0 0;
  text-align: left;
  display: inline-block;
  float: left;
}

.list-title {
  color: #757575;
  margin: 70px 0 40px 32px;
}


/* INPUT */

input {
  display: inline-block;
  height: 40px;
  background-color: #F8F8F8;
  border: 1px solid #F1F1F1;
  padding: 12px 0 12px 14px;
}

input::placeholder {
 color: #878787;
}


/* BUTTON  */

button {
 background-color: #07F;
 height: 40px;
 border: none;
}

button:disabled {
  color: #878787;
  background-color: #EBEBEB;
}
